<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Seja bem-vindo!</h3>

  <p>


    Digite abaixo o seu celular com DDD para interagir com a sua embalagem :)! Uhul!

  </p>
  <ion-item>
    <ion-label fixed>Telefone</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
  <button ion-button secondary full round (click)="itemTapped($event, item)"> Iniciar</button>
</ion-content>
