<!--
  Generated template for the DashPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="../../assets/imgs/qrcode.png" (click)="itemTapped('DescontoPage')">
            </ion-card-header>
            <ion-card-content>
              Quer descontos exclusivos? É aqui mesmo
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="../../assets/imgs/selo-organico.jpg" (click)="itemTapped('OrganicPage')">
            </ion-card-header>
            <ion-card-content>
              Você sabe porque seu produto é orgânico? Não? Veja agora!
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img src="../../assets/imgs/barcode.png" (click)="itemTapped('Produto')">
            </ion-card-header>
            <ion-card-content>
              Conheça o produtor do seu alimento. Ele é incrível
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <img  src="../../assets/imgs/logo.png" (click)="itemTapped('PontosPage')">
            </ion-card-header>
            <ion-card-content>
              Acumule pontos, ganhe benefícios e seja um filho da terra
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
